.res-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food-logo {
  max-width: 100%;
  height: auto;
}
